Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

feat: first commit
  packages/constants/src/index.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/jobs/src/utils/deleteWebhookAfterChecks.ts
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/RemindersUtils.ts
Labels: package:skyhelper, package:jobs, package:constants

chore: handle eruption jobs
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/utils/src/classes/shardsUtil.ts
Labels: package:utils, package:jobs

chore: probably finished it
  packages/jobs/package.json
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/modules/buttons/shards-reminders-info.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/utils/src/classes/shardsUtil.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs

chore: now finish
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

chore: lint
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
Labels: package:skyhelper

chore: make schema identicle
  packages/jobs/src/database/getGuildDBValues.ts
Labels: package:jobs

chore: remove unused import
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
Labels: package:skyhelper

feat(Reminders): introducing shard eruptions reminders & frw other improvements (#273)
  packages/constants/src/index.ts
  packages/jobs/package.json
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/jobs/src/utils/deleteWebhookAfterChecks.ts
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/buttons/shards-reminders-info.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/RemindersUtils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/utils/src/classes/shardsUtil.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:constants

refactor(Changelog): fetch changes from github release instead of doing manually for changelog cmd
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
Labels: package:skyhelper

refactor(Changelog): fetch changes from github release instead of doing manually for changelog cmd (#274) [skip-ci]
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
Labels: package:skyhelper

fix(Reminders): recent update made it so that reminder stop didn't actually stop it <-_->
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

fix(Reminders): recent update made it so that reminder stop didn't actually stop it <-_-> (#275)
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

feat: add paginator and better reminder status view
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/utils/paginator.ts
Labels: package:skyhelper

feat: manage reminder's through status command, also added paginator function for utility
  packages/constants/src/index.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/RemindersUtils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/skyhelper/src/bot/utils/paginator.ts
Labels: package:skyhelper, package:jobs, package:constants

chore: remove unnecessary extra db save
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
Labels: package:skyhelper

feat: manage reminder's through status command, also added paginator function for utility (#276)
  packages/constants/src/index.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/RemindersUtils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/skyhelper/src/bot/utils/paginator.ts
Labels: package:skyhelper, package:jobs, package:constants

fix: shar info btn error and shard reminder minor formatting issue
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/modules/buttons/shards-reminders-info.ts
Labels: package:skyhelper, package:jobs

chore: spell
  packages/skyhelper/src/bot/modules/buttons/shards-reminders-info.ts
Labels: package:skyhelper

fix: shard info btn error and shard reminder minor formatting issue (#277)
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/modules/buttons/shards-reminders-info.ts
Labels: package:skyhelper, package:jobs

feat(API): shard eruption reminder support to the api
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
Labels: package:skyhelper

fix: remove
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
Labels: package:skyhelper

feat(API): shard-eruption api support (#279)
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
Labels: package:skyhelper

refactor: do not use container for shard reminders
  packages/jobs/src/functions/getResponses.ts
Labels: package:jobs

fix: types error
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: initial build
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-button.ts
  packages/skyhelper/src/bot/modules/commands-data/guide-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
Labels: package:skyhelper

chore: scripts for spltting/uploading emojis
  .gitignore
  scripts/split_images.sh
  scripts/upload_emojis.sh
Labels: none

feat: sqare emoji and spirit list
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/modules/commands-data/guide-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

chore: some formatting
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper

feat: spirits list
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-button.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
Labels: package:skyhelper

feat(Spirits): list all spirits when search argument is not provided for spirits list (#280)
  .gitignore
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-button.ts
  packages/skyhelper/src/bot/modules/commands-data/guide-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  scripts/split_images.sh
  scripts/upload_emojis.sh
Labels: package:skyhelper

fix: minor formatting with spirit title in spirit list, also placeholder aviary map for realm icon
  packages/constants/src/emojis.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper, package:constants

fix: minor formatting with spirit title in spirit list, also placeholder aviary map for realm icon (#281)
  packages/constants/src/emojis.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper, package:constants

fix: missed one
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper

fix(Help): random customid to fix /string-store error
  packages/skyhelper/src/bot/modules/inputCommands/utility/help.ts
Labels: package:skyhelper

feat(Reminders): allow multiple roles to be selected to ping for a reminder
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
Labels: package:skyhelper, package:jobs

feat(Spirits): add forward link to skywiki for corresponding spirit in spirits list
  packages/constants/src/spirits-datas/base/prairie.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper, package:constants

revert: multiple role commit (this is done in different pr)
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
Labels: package:skyhelper, package:jobs

feat(Spirits): add forward link to skywiki for corresponding spirit in spirits list (#283)
  packages/constants/src/spirits-datas/base/prairie.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper, package:constants

refactor: some visual refactor to spirit list and fast forward and rewind button to paginator
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/utils/paginator.ts
Labels: package:skyhelper

refactor: some visual refactor to spirit list and fast forward and rewind button to paginator (#284)
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/utils/paginator.ts
Labels: package:skyhelper

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**
