Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**

feat: improve tree render and complete event and spirits display
  packages/skyhelper/scripts/tree-render.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/p/events.ts
  packages/skyhelper/src/bot/handlers/planner-displays.ts
  packages/skyhelper/src/bot/handlers/planner-displays/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/events.ts
  packages/skyhelper/src/bot/handlers/planner-displays/items.ts
  packages/skyhelper/src/bot/handlers/planner-displays/realms.ts
  packages/skyhelper/src/bot/handlers/planner-displays/seasons.ts
  packages/skyhelper/src/bot/handlers/planner-displays/shops.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits.ts
  packages/skyhelper/src/bot/handlers/planner-displays/wingedlights.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper

feat: finish spirits display
  packages/skyhelper/src/bot/handlers/p/spirits.ts
Labels: package:skyhelper

fix: build and test fails
  packages/constants/src/emojis.ts
  packages/constants/src/skygame-planner/fetcher.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/__tests__/Utils.test.ts
  packages/skyhelper/src/bot/handlers/planner-displays/realms.ts
  packages/skyhelper/src/bot/handlers/planner-displays/seasons.ts
  packages/skyhelper/src/bot/handlers/planner-displays/wingedlights.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/LimitedCollection.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
Labels: package:skyhelper, package:constants

fix: lint errors
  .vscode/tasks.json
  packages/skyhelper/src/bot/handlers/planner-displays/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/events.ts
  packages/utils/package.json
Labels: package:utils, package:skyhelper

fix: lint
  packages/constants/src/emojis.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits.ts
  packages/utils/package.json
  packages/utils/src/classes/SpiritTreeRenderer.ts
  packages/utils/src/utils/v2-builders.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:constants

feat: season display
  packages/skyhelper/scripts/env-cli.js
  packages/skyhelper/src/bot/handlers/planner-displays/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/seasons.ts
Labels: package:skyhelper

feat: realm display
  packages/constants/src/skygame-planner/service.ts
  packages/skyhelper/scripts/tree-render.ts
  packages/skyhelper/src/bot/handlers/planner-displays/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/realms.ts
  packages/skyhelper/src/bot/handlers/planner-displays/seasons.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper, package:constants

refactor: use tsgo for now for reduced load, transformer refactor and etc
  .vscode/settings.json
  apps/docs/package.json
  package.json
  packages/constants/package.json
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/jobs/package.json
  packages/skyhelper/package.json
  packages/skyhelper/src/bot/handlers/planner-displays/items.ts
  packages/skyhelper/src/bot/handlers/planner-displays/shops.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/tracker/filters.ts
  packages/skyhelper/src/bot/modules/buttons/tracker/kk.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/skyhelper/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

chore: lint
  eslint.config.mjs
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/@types/utils.d.ts
  packages/skyhelper/src/bot/handlers/planner-displays/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/events.ts
  packages/skyhelper/src/bot/handlers/planner-displays/items.ts
  packages/skyhelper/src/bot/handlers/planner-displays/realms.ts
  packages/skyhelper/src/bot/handlers/planner-displays/seasons.ts
  packages/skyhelper/src/bot/handlers/planner-displays/shops.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits.ts
  packages/skyhelper/src/bot/handlers/planner-displays/wingedlights.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/tracker/filters.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/paginator.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper, package:constants

chore: sync
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits/base.ts
  packages/skyhelper/src/bot/handlers/planner-displays/spirits/spirits.ts
  packages/skyhelper/src/bot/modules/buttons/tracker/filters.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
Labels: package:skyhelper, package:constants

chore: example env
  apps/website/.example.env
Labels: none

chore: lint and redirect uri fix up
  .gitignore
  apps/website/app/components/DiscordAuthContext.tsx
  apps/website/app/components/DiscordLogin.tsx
  apps/website/app/hooks/useFetchHook.ts
  apps/website/app/hooks/useStats.ts
  apps/website/app/page.tsx
  apps/website/app/terms/page.tsx
  apps/website/eslint.config.mjs
  eslint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none
