Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**

fix(Reminders): using legacy content with v2 flag
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
Labels: package:skyhelper

fix(Reminders): using legacy content with v2 flag (#241)
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
Labels: package:skyhelper

feat(Reminders): add fireworks reminders
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/utils/constants.ts
Labels: package:skyhelper

feat(Reminders): add fireworks reminders (#242)
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/utils/constants.ts
Labels: package:skyhelper

refactor(DailyQuest): non-bolded quest title and hyperlinked source instead separate entry in embed
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

fix: missing
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

chore: remove redundent comment
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

refactor(DailyQuest): non-bolded quest title and hyperlinked source instead separate entry in embed (#244)
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

fix(Guides): invalid emoji error for summary and map guides
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
Labels: package:skyhelper

fix(Guides): invalid emoji error for summary and map guides (#245)
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
Labels: package:skyhelper

feat(API): reminders offset for api
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
Labels: package:skyhelper

feat(API): reminders offset for api (#246)
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/types.ts
Labels: package:skyhelper

fix(ShardsScroll): missing v2 flag
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
Labels: package:skyhelper

chore: some comments
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
Labels: package:skyhelper

fix(ShardsScroll): missing v2 flag (#247)
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
Labels: package:skyhelper

refactor(embeds): hangman, realm guide embeds to v2 components
  packages/constants/src/emojis.ts
  packages/constants/src/realmsData.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
Labels: package:skyhelper, package:constants

refactor: scrambled embed
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
Labels: package:skyhelper

refactor: separate handling for video quests, some other embe changes
  packages/skyhelper/src/bot/modules/buttons/quests/quest_video.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

refactor(Embeds): move some embed response to v2 components (#248)
  packages/constants/src/emojis.ts
  packages/constants/src/realmsData.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/quests/quest_video.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
Labels: package:skyhelper, package:constants

refactor(Spirits): both location and tree in same embed response
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-common.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/utils/src/utils/v2-builders.ts
Labels: package:utils, package:skyhelper

fix: type err
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
Labels: package:skyhelper

refactor: ts embeds
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/ts.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
Labels: package:skyhelper, package:jobs

refactor(Spirits): both location and tree in same embed response (#249)
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-common.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/ts.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/utils/src/utils/v2-builders.ts
Labels: package:utils, package:skyhelper, package:jobs

refactor: shards embed a little
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper

fix(SeasonalGuide): error on getting spirits guide
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
Labels: package:skyhelper

fix(SeasonalGuide): error on getting spirits guide (#251)
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
Labels: package:skyhelper

refactor: fix jobs search params:
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/skyhelper/src/api/controllers/app.controller.ts
Labels: package:skyhelper, package:jobs

fix: type error
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

refactor: shards embed a little (#252)
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/skyhelper/src/api/controllers/app.controller.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper, package:jobs

fix(ShardsScroll): reset embeds in case of old message
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
Labels: package:skyhelper

Update crowdin-action.yml
  .github/workflows/crowdin-action.yml
Labels: none

feat: add bot's joined date to guid logs
  packages/skyhelper/src/bot/events/GUILD_CREATE.ts
Labels: package:skyhelper

add second account to codeonwers
  .github/CODEOWNERS
Labels: none

feat: add bot's joined date to guid logs (#253)
  packages/skyhelper/src/bot/events/GUILD_CREATE.ts
Labels: package:skyhelper

fix(ShardsCalendar): reset index to 0 for month/year modal submission
  packages/skyhelper/src/bot/handlers/modalHandler.ts
Labels: package:skyhelper

fix(ShardsCalendar): reset index to 0 for month/year modal submission (#254)
  packages/skyhelper/src/bot/handlers/modalHandler.ts
Labels: package:skyhelper

refactor: v2 component from embed for linke-role
  packages/skyhelper/src/bot/modules/inputCommands/utility/linked-role.ts
Labels: package:skyhelper

fix(Reminders): missing fireworks key
  packages/jobs/src/database/getGuildDBValues.ts
Labels: package:jobs

chore: v2 comp for no data daily quest response
  packages/skyhelper/src/bot/modules/inputCommands/info/daily-quests.ts
Labels: package:skyhelper

refactor(BotInfo): show process info only for bot owner
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
Labels: package:skyhelper
