Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

chore: some more content
  apps/docs/app/global.css
  apps/docs/app/guide/[[...slug]]/page.tsx
  apps/docs/app/layout.config.tsx
  apps/docs/app/layout.shared.tsx
  apps/docs/app/layout.tsx
  apps/docs/content/docs/docs/commands/index.mdx
  apps/docs/content/docs/docs/commands/info.mdx
  apps/docs/content/docs/docs/commands/meta.json
  apps/docs/content/docs/docs/index.mdx
  apps/docs/content/docs/openapi/index.mdx
  apps/docs/lib/constants.ts
  packages/constants/locales/en-US/commands.json
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/help.ts
Labels: package:skyhelper, package:docs, package:constants

chore: some more
  apps/docs/app/guide/[[...slug]]/page.tsx
Labels: package:docs

chore: some monor fixes (#303)
  apps/docs/app/global.css
  apps/docs/app/guide/[[...slug]]/page.tsx
  apps/docs/app/layout.config.tsx
  apps/docs/app/layout.shared.tsx
  apps/docs/app/layout.tsx
  apps/docs/content/docs/docs/commands/index.mdx
  apps/docs/content/docs/docs/commands/info.mdx
  apps/docs/content/docs/docs/commands/meta.json
  apps/docs/content/docs/docs/guides/index.mdx
  apps/docs/content/docs/docs/guides/user-install-app.mdx
  apps/docs/content/docs/docs/index.mdx
  apps/docs/content/docs/openapi/index.mdx
  apps/docs/content/docs/openapi/meta.json
  apps/docs/lib/constants.ts
  packages/constants/locales/en-US/commands.json
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/help.ts
Labels: package:skyhelper, package:docs, package:constants

feat: typed options
  packages/skyhelper/src/bot/@types/CommandOptions.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/fun-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/guide-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/owner-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/utility-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/daily-quests.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/shards.ts
  packages/skyhelper/src/bot/structures/Command.ts
  packages/skyhelper/src/bot/structures/index.ts
  packages/skyhelper/src/bot/utils/TypedOptionsResolver.ts
  packages/skyhelper/src/bot/utils/validators.ts
Labels: package:skyhelper

chore: update readme
  README.md
Labels: none

chore(deps): update @discordjs/core
  package.json
  packages/skyhelper/package.json
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/bot/events/GUILD_CREATE.ts
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/announcement.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/blacklist.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/sendmessage.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  pnpm-lock.yaml
Labels: package:skyhelper

fix: tests
  packages/skyhelper/__tests__/Utils.test.ts
Labels: package:skyhelper

chore(deps): update @discordjs/core (#310)
  package.json
  packages/skyhelper/__tests__/Utils.test.ts
  packages/skyhelper/package.json
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/bot/events/GUILD_CREATE.ts
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/announcement.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/blacklist.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/sendmessage.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  pnpm-lock.yaml
Labels: package:skyhelper

chore(ci): do not hard-code pnpm version
  .github/workflows/syncs-openapi-spec.yml
Labels: none

chore: emoji hash
  packages/constants/src/emojis.ts
Labels: package:constants

feat: handle fetching and transforing data from SkyGame-Planner
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/src/skygame-planner/fetcher.ts
  packages/constants/src/skygame-planner/index.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  pnpm-lock.yaml
Labels: package:skyhelper, package:constants

chore: basic modular approach to handling tracker navigation
  packages/constants/package.json
  packages/constants/src/emojis.ts
  packages/constants/src/index.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/@types/utils.d.ts
  packages/skyhelper/src/bot/buttons/planner-navigation.ts
  packages/skyhelper/src/bot/commands/planner.ts
  packages/skyhelper/src/bot/handlers/planner-displays.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/utils/src/utils/v2-builders.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:constants

refactor(Reminders): use new selects in modals for managing reminders
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
Labels: package:skyhelper

chore: type error
  packages/skyhelper/src/api/managers/Reminders.ts
Labels: package:skyhelper

chore: minor improvements
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
Labels: package:skyhelper

chore: error msg
  packages/skyhelper/src/bot/utils/classes/Utils.ts
Labels: package:skyhelper

chore: safe access
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
Labels: package:skyhelper

fix: ensure last_messageId is present
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
Labels: package:skyhelper

refactor(Reminders): use new selects in modals for managing reminders (#311)
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
Labels: package:skyhelper

chore: use base tsconfig amongst packages
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  packages/jobs/tsconfig.json
  packages/skyhelper/tsconfig.json
  packages/utils/src/classes/shardsUtil.ts
  packages/utils/tsconfig.json
  tsconfig.base.json
Labels: package:utils, package:skyhelper, package:jobs, package:constants

chore: use base tsconfig amongst packages (#313)
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  packages/jobs/tsconfig.json
  packages/skyhelper/tsconfig.json
  packages/utils/src/classes/shardsUtil.ts
  packages/utils/tsconfig.json
  tsconfig.base.json
Labels: package:utils, package:skyhelper, package:jobs, package:constants

chore(lint): other packages
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/structures/Webhook.ts
  packages/utils/src/classes/LeaderBoardCard.ts
  packages/utils/src/classes/SkytimesUtils.ts
  packages/utils/src/classes/WinnerCard.ts
  packages/utils/src/classes/shardsUtil.ts
Labels: package:utils, package:jobs

chore: enable strict rules
  eslint.config.mjs
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/api/middlewares/discord-webhook.middleware.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/handleCachingListeners.ts
  packages/skyhelper/src/bot/handlers/registerCommands.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/buttons/quests/quest_video.ts
  packages/skyhelper/src/bot/modules/buttons/reminders-toggle.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-button.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSeasional.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/ts.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/eval.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/language.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/help.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/timestamp.ts
  packages/skyhelper/src/bot/modules/roleConnectionMetadata.ts
  packages/skyhelper/src/bot/schemas/UserSchema.ts
  packages/skyhelper/src/bot/schemas/connect.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/PermissionUtils.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/constants.ts
  packages/skyhelper/src/bot/utils/loaders.ts
  packages/skyhelper/src/bot/utils/paginator.ts
  packages/skyhelper/src/bot/utils/validators.ts
Labels: package:skyhelper

chore: some more linting
  eslint.config.mjs
  packages/skyhelper/src/bot/@types/custom.d.ts
  packages/skyhelper/src/bot/handlers/logger.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/modules/roleConnectionMetadata.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/schemas/UserSchema.ts
  packages/skyhelper/src/bot/schemas/connect.ts
  packages/skyhelper/src/bot/utils/classes/Collector.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/InteractionUtil.ts
  packages/skyhelper/src/bot/utils/classes/PermissionUtils.ts
  packages/skyhelper/src/bot/utils/classes/RemindersUtils.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/paginator.ts
  packages/skyhelper/src/bot/utils/parseCommands.ts
  packages/skyhelper/src/bot/utils/utils.ts
  packages/skyhelper/src/bot/utils/validators.ts
  tsconfig.base.json
Labels: package:skyhelper

chore: other packages lint
  packages/jobs/src/database/connect.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/throttleRequests.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/index.ts
  packages/jobs/src/structures/Webhook.ts
  packages/jobs/src/utils/deleteWebhookAfterChecks.ts
  packages/jobs/src/utils/resolveColor.ts
  packages/skyhelper/src/api/middlewares/guild.middleware.ts
  packages/skyhelper/src/bot/modules/buttons/quests/candle-buttons.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/validators.ts
  packages/utils/src/classes/LeaderBoardCard.ts
  packages/utils/src/classes/SkytimesUtils.ts
  packages/utils/src/classes/WinnerCard.ts
  packages/utils/src/classes/shardsUtil.ts
  packages/utils/src/utils/parsePerms.ts
  packages/utils/src/utils/resolveColors.ts
Labels: package:utils, package:skyhelper, package:jobs

chore(ci): merge build in tests
  .github/workflows/check-build.yml
  .github/workflows/test.yml
  README.md
Labels: none

chore: emoji hash
  packages/constants/src/emojis.ts
Labels: package:constants

feat: handle fetching and transforing data from SkyGame-Planner
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/src/skygame-planner/fetcher.ts
  packages/constants/src/skygame-planner/index.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  pnpm-lock.yaml
Labels: package:skyhelper, package:constants

chore: basic modular approach to handling tracker navigation
  packages/constants/package.json
  packages/constants/src/emojis.ts
  packages/constants/src/index.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/@types/utils.d.ts
  packages/skyhelper/src/bot/buttons/planner-navigation.ts
  packages/skyhelper/src/bot/commands/planner.ts
  packages/skyhelper/src/bot/handlers/planner-displays.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/modules/commands-data/info-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/skygame-planner.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/utils/src/utils/v2-builders.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:constants

chore: sync
  packages/constants/src/emojis.ts
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/buttons/planner-navigation.ts
  packages/skyhelper/src/bot/commands/planner.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/skyhelper/src/bot/handlers/planner-displays.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
Labels: package:skyhelper, package:constants

feat: items, relams display
  packages/constants/src/emojis.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/items.ts
  packages/skyhelper/src/bot/handlers/p/realms.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/skyhelper/src/bot/handlers/planner.ts
Labels: package:skyhelper, package:constants

feat: wl display
  packages/constants/src/emojis.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/events.ts
  packages/skyhelper/src/bot/handlers/p/items.ts
  packages/skyhelper/src/bot/handlers/p/realms.ts
  packages/skyhelper/src/bot/handlers/p/seasons.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/skyhelper/src/bot/handlers/p/wingedlights.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/config.ts
  packages/skyhelper/tsconfig.json
Labels: package:skyhelper, package:constants

feat: event item display and shops
  packages/constants/src/emojis.ts
  packages/constants/src/skygame-planner/service.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/events.ts
  packages/skyhelper/src/bot/handlers/p/shops.ts
  packages/skyhelper/src/bot/handlers/planner.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
Labels: package:skyhelper, package:constants

feat: item display
  packages/constants/src/skygame-planner/fetcher.ts
  packages/constants/src/skygame-planner/service.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/items.ts
Labels: package:skyhelper, package:constants

feat: base spirit display and spirit tree genrator
  packages/constants/package.json
  packages/constants/src/skygame-planner/interfaces.ts
  packages/constants/src/skygame-planner/transformer.ts
  packages/skyhelper/.gitignore
  packages/skyhelper/package.json
  packages/skyhelper/scripts/tree-render.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/utils/package.json
  packages/utils/src/classes/SpiritTreeRenderer.ts
  packages/utils/src/classes/index.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:constants

feat(TreeRender): check mark for unlocked item and loading button for wait
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/utils/loading.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper

feat: add spirit trees to spirit display
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/handlers/p/base.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/skyhelper/src/bot/modules/buttons/kk.ts
  packages/skyhelper/src/bot/utils/classes/InteractionUtil.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper

refactor: some more spirit tree generator
  packages/constants/src/emojis.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:constants

perf: preload images and caching in tree generator
  packages/skyhelper/scripts/tree-render.ts
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper

chore: further optimize tree generator
  packages/skyhelper/src/bot/handlers/p/spirits.ts
  packages/utils/src/classes/SpiritTreeRenderer.ts
Labels: package:utils, package:skyhelper

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**
