Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**

chore: fix repo links in packages
  packages/constants/package.json
  packages/utils/package.json
Labels: package:utils, package:constants

fix: spexial event duration formattong
  packages/skyhelper/src/bot/utils/getEventDatas.ts
Labels: package:skyhelper

fix: spexial event duration formattong (#212)
  packages/skyhelper/src/bot/utils/getEventDatas.ts
Labels: package:skyhelper

refactor(Reminders): display next reminders send time on configuration
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/utils/src/classes/SkytimesUtils.ts
  packages/utils/src/constants/eventDatas.ts
Labels: package:utils, package:skyhelper, package:jobs

refactor(Reminders): display next reminders send time on configuration (#213)
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/utils/src/classes/SkytimesUtils.ts
  packages/utils/src/constants/eventDatas.ts
Labels: package:utils, package:skyhelper, package:jobs

Update logger.ts
  packages/skyhelper/src/bot/handlers/logger.ts
Labels: package:skyhelper

refactor: use async generator for loading strucutres
  packages/skyhelper/src/bot/utils/constants.ts
  packages/skyhelper/src/bot/utils/loaders.ts
Labels: package:skyhelper

refactor: update type names
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

refactor: botinfo embed
  packages/skyhelper/src/bot/handlers/handleSelectInteraction.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

chore: better docker deployement
  .github/workflows/check-build.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  docker-compose.yml
Labels: none

chore: better docker deployement (#214)
  .github/workflows/check-build.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  docker-compose.yml
Labels: none

fix: forgot times embed fkrmatting for jobs
  packages/jobs/src/functions/getTimesEmbed.ts
Labels: package:jobs

chore: ts #134
  packages/constants/src/spirits-datas/seasonal/15-aurora.ts
Labels: package:constants

fix: special events embed formatting (again)
  packages/jobs/src/functions/getTimesEmbed.ts
  packages/skyhelper/src/bot/utils/getEventDatas.ts
Labels: package:skyhelper, package:jobs

chore(ci): hopefully better deploy ci
  .github/workflows/check-build.yml
  .github/workflows/test.yml
  Dockerfile
  docker-compose.yml
Labels: none

refactor: use async generator for loading strucutres
  packages/skyhelper/src/bot/utils/constants.ts
  packages/skyhelper/src/bot/utils/loaders.ts
Labels: package:skyhelper

refactor: update type names
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

Update logger.ts
  packages/skyhelper/src/bot/handlers/logger.ts
Labels: package:skyhelper

refactor: botinfo embed
  packages/skyhelper/src/bot/handlers/handleSelectInteraction.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

Update packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

revert: previous commit
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

chore: re-enable toppgg stats posting
  packages/skyhelper/src/bot/utils/postBotLists.ts
Labels: package:skyhelper

fix(Dockerfile): forgot to uncooment source map script
  Dockerfile
  packages/skyhelper/src/bot/utils/postBotLists.ts
Labels: package:skyhelper

refactor: some embed changes
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
Labels: package:skyhelper

feat(Reminders): add the ability to set reminders in thread channels
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/structures/Webhook.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/bot/@types/custom.d.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/classes/PermissionUtils.ts
Labels: package:skyhelper, package:jobs

fix: use provided channel for the valid type check
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

refactor: some cleanupssss and fixes
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/index.ts
  packages/jobs/src/structures/Webhook.ts
  packages/jobs/src/utils/deleteWebhookAfterChecks.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/handlers/registerCommands.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/live-updates.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/sub/handleLive.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/structures/Command.d.ts
Labels: package:skyhelper, package:jobs

chore: lint
  packages/skyhelper/src/bot/@types/custom.d.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

revert: temp changes to cron jobs
  packages/jobs/src/index.ts
Labels: package:jobs

chore: some patchup
  packages/skyhelper/src/bot/handlers/registerCommands.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
Labels: package:skyhelper

feat(Reminders): add the ability to set reminders in thread channels (#218)
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/index.ts
  packages/jobs/src/structures/Webhook.ts
  packages/jobs/src/types.ts
  packages/jobs/src/utils/deleteWebhookAfterChecks.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/WEBHOOKS_UPDATE.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/live-updates.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/sub/handleLive.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/structures/Command.d.ts
  packages/skyhelper/src/bot/utils/classes/PermissionUtils.ts
Labels: package:skyhelper, package:jobs

refactor: i18next langkey type
  packages/skyhelper/src/bot/@types/i18n.d.ts
  packages/skyhelper/src/bot/i18n.ts
Labels: package:skyhelper

revert: reduntant changes to i18n file
  packages/skyhelper/src/bot/i18n.ts
Labels: package:skyhelper

feat(Skygame): scrambled single mode
  packages/constants/locales/en-US/commands.json
  packages/constants/src/hangman.ts
  packages/skyhelper/src/bot/@types/custom.d.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/skygame/scramble-guess-single.ts
  packages/skyhelper/src/bot/modules/commands-data/fun-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/schemas/UserSchema.ts
  packages/skyhelper/src/bot/structures/Button.d.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/utils.ts
Labels: package:skyhelper, package:constants

fix: test
  packages/skyhelper/__tests__/Hangman.test.ts
Labels: package:skyhelper

feat: double mode
  packages/skyhelper/__tests__/Hangman.test.ts
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
Labels: package:skyhelper

chore: move stuff to constants
  packages/constants/src/index.ts
  packages/constants/src/scramble.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
Labels: package:skyhelper, package:constants

feat(SkyGame): scrambled (#225)
  packages/constants/locales/en-US/commands.json
  packages/constants/src/hangman.ts
  packages/constants/src/index.ts
  packages/constants/src/scramble.ts
  packages/skyhelper/__tests__/Hangman.test.ts
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/bot/@types/custom.d.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/skygame/scramble-guess-single.ts
  packages/skyhelper/src/bot/modules/commands-data/fun-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/schemas/UserSchema.ts
  packages/skyhelper/src/bot/structures/Button.d.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/utils.ts
Labels: package:skyhelper, package:constants

fix(Skygame): some minor errors with logic due to changes
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
Labels: package:skyhelper

feat: base handler for concept
  packages/jobs/src/functions/testRemindersWithOffset.ts
  packages/jobs/src/index.ts
Labels: package:jobs
