Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**

feat(WebhookEventAPI): handle application deauthorized event
  package.json
  packages/constants/package.json
  packages/jobs/package.json
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/utils/package.json
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:constants

chore: deps
  apps/docs/package.json
  packages/constants/package.json
  packages/jobs/package.json
  packages/skyhelper/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

chore: deps
  apps/docs/pnpm-lock.yaml
Labels: package:docs

feat(WebhookEventAPI): handle application deauthorized event (#258)
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  package.json
  packages/constants/package.json
  packages/jobs/package.json
  packages/skyhelper/package.json
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/utils/package.json
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

feat(API): user install stat to stats route
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/api/types.ts
Labels: package:skyhelper

fix: wrong interface member
  packages/skyhelper/src/api/types.ts
Labels: package:skyhelper

fix: type
  packages/skyhelper/src/api/controllers/bot.controller.ts
Labels: package:skyhelper

feat(API): user install stat to stats route (#259)
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/api/types.ts
Labels: package:skyhelper

feat: use zod for env and command validation
  packages/skyhelper/package.json
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/structures/predicates.ts
  packages/skyhelper/src/bot/utils/loaders.ts
  packages/skyhelper/src/bot/utils/validators.ts
  packages/skyhelper/src/bot/validate-env.ts
  pnpm-lock.yaml
Labels: package:skyhelper

chore: add some logs to debug the jobs failures
  packages/constants/src/index.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/utils/constants.ts
Labels: package:skyhelper, package:jobs, package:constants

feat: use zod for env and command validation (#260)
  packages/constants/src/index.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/types.ts
  packages/skyhelper/package.json
  packages/skyhelper/src/api/managers/Reminders.ts
  packages/skyhelper/src/bot/index.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
  packages/skyhelper/src/bot/structures/predicates.ts
  packages/skyhelper/src/bot/utils/constants.ts
  packages/skyhelper/src/bot/utils/loaders.ts
  packages/skyhelper/src/bot/utils/validators.ts
  packages/skyhelper/src/bot/validate-env.ts
  pnpm-lock.yaml
Labels: package:skyhelper, package:jobs, package:constants

chore: send debug log to dscord channel for easy access
  .github/workflows/deploy.yml
  docker-compose.yml
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: only debug failing jobs
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: send debug log to dscord channel for easy access (#261)
  .github/workflows/deploy.yml
  docker-compose.yml
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: format logs a bit
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: some more format
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

fix(Reminders): reminders having no duration not working
  packages/jobs/src/functions/checkReminderValid.ts
Labels: package:jobs

fix(Reminders): reminders having no duration not working (#262)
  packages/jobs/src/functions/checkReminderValid.ts
Labels: package:jobs

chore: heck it, remove the logs
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: unused variable
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

feat: use @sapphire/string-store
  packages/skyhelper/package.json
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/bug-reports.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-date.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-nav.ts
  packages/skyhelper/src/bot/modules/buttons/quests/candle-buttons.ts
  packages/skyhelper/src/bot/modules/buttons/quests/quest_video.ts
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
  packages/skyhelper/src/bot/modules/buttons/shards-timeline.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/buttons/times-refresh.ts
  packages/skyhelper/src/bot/structures/Button.ts
  packages/skyhelper/src/bot/structures/index.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  pnpm-lock.yaml
Labels: package:skyhelper

chore: finish up the rest
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSeasional.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/announcement.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/exec.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/listserver.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/help.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/skyhelper/src/bot/utils/loaders.ts
Labels: package:skyhelper

chore: brush up some kinks
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/help.ts
Labels: package:skyhelper

chore: add missing pieces
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/events/MESSAGE_CREATE.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
Labels: package:skyhelper

chore: chore
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
Labels: package:skyhelper

feat: use @sapphire/string-store (#263)
  packages/skyhelper/package.json
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/events/MESSAGE_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/bug-reports.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-date.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-nav.ts
  packages/skyhelper/src/bot/modules/buttons/quests/candle-buttons.ts
  packages/skyhelper/src/bot/modules/buttons/quests/quest_video.ts
  packages/skyhelper/src/bot/modules/buttons/shards-scroll.ts
  packages/skyhelper/src/bot/modules/buttons/shards-timeline.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/buttons/times-refresh.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSeasional.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/announcement.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/exec.ts
  packages/skyhelper/src/bot/modules/inputCommands/owner/listserver.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/help.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
  packages/skyhelper/src/bot/structures/Button.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/structures/index.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Hangman.ts
  packages/skyhelper/src/bot/utils/classes/Scrambled.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/classes/Utils.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/skyhelper/src/bot/utils/loaders.ts
  pnpm-lock.yaml
Labels: package:skyhelper

fix: remove parsing custom id at to level, causing issues with legacy customIds
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
Labels: package:skyhelper

fix(Reminders): event pointing to next occurences for 0 offset reminders
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

fix: types
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

fix: some small fixes in reminders
  packages/constants/locales/en-US/features.json
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs, package:constants

refactor: some more fixes and refactors
  packages/jobs/src/functions/sendReminders.ts
  packages/utils/src/constants/eventDatas.ts
Labels: package:utils, package:jobs

chore: more comment
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: unused var
  packages/skyhelper/src/bot/utils/customId-store.ts
Labels: package:skyhelper

Update packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

Update packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

fix(Reminders): pointing to next occurence for 0 offset reminders (#264)
  packages/constants/locales/en-US/features.json
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/utils/customId-store.ts
  packages/utils/src/constants/eventDatas.ts
Labels: package:utils, package:skyhelper, package:jobs, package:constants

fix(SkyGameLeaderboard): still using legacy custom_id
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
Labels: package:skyhelper

fix(Reminders): properly mention everyone role
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: remove unused deps
  packages/jobs/package.json
  pnpm-lock.yaml
Labels: package:jobs

fix(Reminders): properly mention everyone role (#271)
  packages/jobs/package.json
  packages/jobs/src/functions/sendReminders.ts
  pnpm-lock.yaml
Labels: package:jobs
