Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**

fix: error on modal collector timeout and increase collector timeout limit
  packages/skyhelper/src/bot/modules/buttons/skygame/scramble-guess-single.ts
Labels: package:skyhelper

fix(Scrambled): fix exceeding customid for now
  packages/skyhelper/src/bot/modules/buttons/skygame/scramble-guess-single.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
Labels: package:skyhelper

refactor(Scrambled): increase timeout to 1 min
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
Labels: package:skyhelper

chore: somewhat functional
  packages/constants/locales/en-US/features.json
  packages/jobs/src/database/connect.ts
  packages/jobs/src/database/getSpecialEventDB.ts
  packages/jobs/src/database/getTSDB.ts
  packages/jobs/src/declare.ts
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/getShardsEmbed.ts
  packages/jobs/src/functions/getTranslator.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/throttleRequests.ts
  packages/jobs/src/index.ts
  packages/jobs/src/structures/Logger.ts
  packages/jobs/src/utils/resolveColor.ts
Labels: package:jobs, package:constants

feat: update command
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

chore: sync
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/testRemindersWithOffset.ts
  packages/jobs/src/types.ts
  packages/jobs/src/utils/getTS.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
Labels: package:skyhelper, package:jobs

fix: daily reset not working
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

feat: base handler for concept
  packages/jobs/src/functions/testRemindersWithOffset.ts
  packages/jobs/src/index.ts
Labels: package:jobs

chore: change option type
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

fix: error
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/index.ts
Labels: package:jobs

refactor: trying something more for the embed
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: words
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: words
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: words and npm scripts
  package.json
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

chore: zone
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: words
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore: words
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

feat(Reminders): add offsets for reminders (#228)
  package.json
  packages/constants/locales/en-US/features.json
  packages/jobs/src/database/connect.ts
  packages/jobs/src/database/getGuildDBValues.ts
  packages/jobs/src/database/getSpecialEventDB.ts
  packages/jobs/src/database/getTSDB.ts
  packages/jobs/src/declare.ts
  packages/jobs/src/functions/checkReminderValid.ts
  packages/jobs/src/functions/getShardsEmbed.ts
  packages/jobs/src/functions/getTranslator.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/throttleRequests.ts
  packages/jobs/src/index.ts
  packages/jobs/src/structures/Logger.ts
  packages/jobs/src/types.ts
  packages/jobs/src/utils/getTS.ts
  packages/jobs/src/utils/resolveColor.ts
  packages/skyhelper/src/bot/@types/schemas.d.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/schemas/GuildSchema.ts
Labels: package:skyhelper, package:jobs, package:constants

chore: update changelog
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
Labels: package:skyhelper

fix: type error
  packages/skyhelper/src/bot/modules/inputCommands/utility/sub/utils.ts
Labels: package:skyhelper

fix: mentionCommand
  packages/skyhelper/src/bot/utils/classes/Utils.ts
Labels: package:skyhelper

fix: update lockfile
  apps/docs/pnpm-lock.yaml
Labels: package:docs

chore: hmm
  packages/skyhelper/src/bot/utils/constants.ts
  packages/skyhelper/src/bot/utils/loaders.ts
Labels: package:skyhelper

Update logger.ts
  packages/skyhelper/src/bot/handlers/logger.ts
Labels: package:skyhelper

chore: rebase
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

chore: rebase
  packages/skyhelper/src/bot/handlers/handleSelectInteraction.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

chore: rebase
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

Update packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

chore: rebase
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
Labels: package:skyhelper

chore: rebase
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/sub/handleLive.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
Labels: package:skyhelper

fix: type
  packages/skyhelper/src/bot/modules/inputCommands/admin/sub/handleLive.ts
Labels: package:skyhelper

refactor: some stuffs and update lockfile
  package.json
  packages/constants/src/emojis.ts
  packages/constants/src/index.ts
  packages/jobs/package.json
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/skyhelper/src/bot/events/ready.ts
  packages/skyhelper/src/bot/instrument.ts
  packages/skyhelper/src/bot/modules/buttons/quests/candle-buttons.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-common.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleRealms.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/ts.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/structures/Client.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/constants.ts
  packages/utils/src/utils/index.ts
  packages/utils/src/utils/v2-builders.ts
  pnpm-lock.yaml
Labels: package:utils, package:skyhelper, package:jobs, package:constants

chore: update lockfile
  pnpm-lock.yaml
Labels: none

refactor: finish up the final touch
  packages/skyhelper/src/bot/events/INTERACTION_CREATE.ts
  packages/skyhelper/src/bot/modules/buttons/quests/candle-buttons.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-collectible.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-common.ts
  packages/skyhelper/src/bot/modules/buttons/spirits/spirit-expression.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/sub/handleLive.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/hangman.ts
  packages/skyhelper/src/bot/modules/inputCommands/fun/sub/scramble.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSeasional.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/ts.ts
  packages/skyhelper/src/bot/modules/inputCommands/utility/utils.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/skyhelper/src/bot/utils/classes/Spirits.ts
  packages/skyhelper/src/bot/utils/v2.ts
Labels: package:skyhelper

chore: revert temp changes
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
Labels: package:skyhelper

fix: missing v2 flags for reminders/live updates
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/structures/Webhook.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper, package:jobs

fix: missing v2 flags for reminders/live updates (#238)
  packages/jobs/src/functions/sendReminders.ts
  packages/jobs/src/functions/updateShardOrTimes.ts
  packages/jobs/src/structures/Webhook.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
Labels: package:skyhelper, package:jobs

fix: incorrect indexing of components array
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

fix: incorrect indexing of components array (#239)
  packages/jobs/src/functions/updateShardOrTimes.ts
Labels: package:jobs

fix: set embeds empty for legacy messages
  packages/skyhelper/src/bot/modules/buttons/times-refresh.ts
Labels: package:skyhelper
