Repository imnaiyar/SkyHelper, changes with the labels that .github/labeler.yml gives for each.
All labels: package:utils, package:skyhelper, package:jobs, package:docs, package:constants

feat(API): use @nestjs/swagger to generate open-api spec and fumadocs to serve it
  packages/skyhelper/package.json
  packages/skyhelper/src/api/controllers/app.controller.ts
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/api/controllers/guild.controller.ts
  packages/skyhelper/src/api/controllers/update.controller.ts
  packages/skyhelper/src/api/controllers/user.controller.ts
  packages/skyhelper/src/api/createDto.ts
  packages/skyhelper/src/api/generate-spec.ts
  packages/skyhelper/src/api/openapi-spec.json
  packages/skyhelper/src/api/types.dto.ts
  packages/skyhelper/src/api/types.ts
  packages/skyhelper/swagger.json
Labels: package:skyhelper

chore: missed lockfile
  pnpm-lock.yaml
Labels: none

fix(SpiritList): lower the total spirit in a page 8 to prevent exceeding char. limit
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper

fix(SpiritList): lower the total spirit in a page 8 to prevent exceeding char. limit (#286)
  packages/skyhelper/src/bot/modules/inputCommands/info/spirits.ts
Labels: package:skyhelper

chore(ci): do no publish packages to npm
  .github/workflows/publish-release.yml
Labels: none

fix(SkyGame): erroring when used in threads
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
Labels: package:skyhelper

fix(SkyGame): erroring when used in threads (#288)
  packages/skyhelper/src/bot/modules/inputCommands/fun/skygame.ts
Labels: package:skyhelper

chore(ci): do no publish packages to npm (#287)
  .github/workflows/publish-release.yml
Labels: none

chore: add spanish locale
  .github/workflows/crowdin-action.yml
Labels: none

feat(Localization): support spanish language
  packages/constants/src/index.ts
  packages/jobs/src/functions/getTranslator.ts
  packages/skyhelper/src/bot/i18n.ts
Labels: package:skyhelper, package:jobs, package:constants

feat(Localization): support spanish language (#289)
  packages/constants/src/index.ts
  packages/jobs/src/functions/getTranslator.ts
  packages/skyhelper/src/bot/i18n.ts
Labels: package:skyhelper, package:jobs, package:constants

chore(ci): update deploy workflow
  .github/workflows/deploy.yml
Labels: none

chore: simplify logic
  .github/workflows/deploy.yml
Labels: none

chore(ci): update deploy workflow (#291)
  .github/workflows/deploy.yml
Labels: none

chore(locale): remove unused locale strings and add some missing ones
  package.json
  packages/constants/locales/en-US/buttons.json
  packages/constants/locales/en-US/commands.json
  packages/constants/locales/en-US/common.json
  packages/constants/locales/en-US/errors.json
  packages/constants/locales/en-US/features.json
  packages/constants/locales/hi/features.json
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/handlers/handleSelectInteraction.ts
  packages/skyhelper/src/bot/handlers/modalHandler.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-date.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/fun-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/utility-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/daily-quests.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/utils/src/constants/shardsInfo.ts
  scripts/check-unused-locales.js
Labels: package:utils, package:skyhelper, package:jobs, package:constants

chore: add missing keys for reminders commands
  packages/constants/locales/en-US/commands.json
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
Labels: package:skyhelper, package:constants

chore: keep some things
  packages/constants/locales/en-US/common.json
Labels: package:constants

chore: finish touches
  packages/constants/locales/en-US/common.json
  scripts/check-unused-locales.js
Labels: package:constants

fix: wrongly used
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
Labels: package:jobs

chore(locale): remove unused locale strings and add some missing ones (#293)
  package.json
  packages/constants/locales/en-US/buttons.json
  packages/constants/locales/en-US/commands.json
  packages/constants/locales/en-US/common.json
  packages/constants/locales/en-US/errors.json
  packages/constants/locales/en-US/features.json
  packages/constants/locales/hi/features.json
  packages/jobs/src/functions/getResponses.ts
  packages/jobs/src/functions/sendReminders.ts
  packages/skyhelper/src/bot/handlers/handleSelectInteraction.ts
  packages/skyhelper/src/bot/handlers/modalHandler.ts
  packages/skyhelper/src/bot/handlers/updateDailyQuests.ts
  packages/skyhelper/src/bot/modules/buttons/calendar-date.ts
  packages/skyhelper/src/bot/modules/commands-data/admin-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/fun-commands.ts
  packages/skyhelper/src/bot/modules/commands-data/utility-commands.ts
  packages/skyhelper/src/bot/modules/inputCommands/admin/reminders.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/daily-quests.ts
  packages/skyhelper/src/bot/modules/inputCommands/info/sub/handleSpirits.ts
  packages/skyhelper/src/bot/utils/classes/Embeds.ts
  packages/utils/src/constants/shardsInfo.ts
  scripts/check-unused-locales.js
Labels: package:utils, package:skyhelper, package:jobs, package:constants

feat: fumadocs for openapi
  apps/docs-v2/.eslintrc.json
  apps/docs-v2/.gitignore
  apps/docs-v2/README.md
  apps/docs-v2/app/(home)/layout.tsx
  apps/docs-v2/app/(home)/page.tsx
  apps/docs-v2/app/api/search/route.ts
  apps/docs-v2/app/docs/[[...slug]]/page.tsx
  apps/docs-v2/app/docs/layout.tsx
  apps/docs-v2/app/global.css
  apps/docs-v2/app/layout.config.tsx
  apps/docs-v2/app/layout.tsx
  apps/docs-v2/content/docs/meta.json
  apps/docs-v2/content/docs/openapi/index.mdx
  apps/docs-v2/content/docs/openapi/meta.json
  apps/docs-v2/content/docs/time/index.mdx
  apps/docs-v2/content/docs/time/meta.json
  apps/docs-v2/content/docs/time/test.mdx
  apps/docs-v2/content/docs/work/index.mdx
  apps/docs-v2/content/docs/work/meta.json
  apps/docs-v2/lib/source.ts
  apps/docs-v2/mdx-components.tsx
  apps/docs-v2/next.config.mjs
  apps/docs-v2/openapi-spec.json
  apps/docs-v2/openapi.json
  apps/docs-v2/package.json
  apps/docs-v2/postcss.config.mjs
  apps/docs-v2/scripts/generate-docs.mjs
  apps/docs-v2/source.config.ts
  apps/docs-v2/tsconfig.json
  apps/openapi/.next/trace
  packages/skyhelper/src/api/controllers/discord-webhooks.controller.ts
  packages/skyhelper/src/api/swagger.config.ts
  packages/skyhelper/src/config.ts
  packages/skyhelper/src/scripts/generate-openapi.ts
  pnpm-lock.yaml
Labels: package:skyhelper

chore: missed
  apps/docs-v2/package.json
Labels: none

chore: remove unused files
  apps/openapi/.next/trace
Labels: none

Potential fix for code scanning alert no. 10: Workflow does not contain permissions
  .github/workflows/update-openapi-spec.yml
Labels: none

chore: some things
  .github/workflows/update-openapi-spec.yml
  package.json
  packages/skyhelper/.gitignore
  packages/skyhelper/OPENAPI.md
  packages/skyhelper/openapi.json
  packages/skyhelper/package.json
  packages/skyhelper/scripts/generate-openapi.ts
  packages/skyhelper/tsconfig.json
Labels: package:skyhelper

chore: name change
  .github/workflows/syncs-openapi-spec.yml
Labels: none

✨ Set up comprehensive Copilot instructions with git hooks, commit standards, and scope support (#299)
  .github/copilot-instructions.md
Labels: none

chore: some changes
  .github/workflows/syncs-openapi-spec.yml
  packages/skyhelper/scripts/generate-openapi.ts
  packages/skyhelper/tsconfig.json
Labels: package:skyhelper

chore: ignore apps for now
  .github/workflows/check-build.yml
Labels: none

chore: some changes
  apps/docs-v2/.gitignore
  apps/docs-v2/openapi-spec.json
  apps/docs-v2/openapi.json
  apps/docs-v2/package.json
  apps/docs-v2/scripts/generate-docs.mjs
Labels: none

refactor: bunches, do not use dtos, be direct
  apps/docs-v2/package.json
  package.json
  packages/skyhelper/src/api/controllers/app.controller.ts
  packages/skyhelper/src/api/controllers/bot.controller.ts
  packages/skyhelper/src/api/controllers/guild.controller.ts
  packages/skyhelper/src/api/controllers/update.controller.ts
  packages/skyhelper/src/api/controllers/user.controller.ts
  packages/skyhelper/src/api/dto/app.dto.ts
  packages/skyhelper/src/api/dto/common.dto.ts
  packages/skyhelper/src/api/dto/features.dto.ts
  packages/skyhelper/src/api/dto/guild.dto.ts
  packages/skyhelper/src/api/dto/index.ts
  packages/skyhelper/src/api/pipes/zod-validator.pipe.ts
  packages/skyhelper/src/api/swagger.config.ts
  packages/skyhelper/src/api/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package:skyhelper

chore: some [skip ci]
  packages/skyhelper/src/api/controllers/guild.controller.ts
Labels: package:skyhelper

chore: make it work
  apps/docs-v2/app/(home)/layout.tsx
  apps/docs-v2/app/(home)/page.tsx
  apps/docs-v2/app/docs/layout.tsx
  apps/docs-v2/app/global.css
  apps/docs-v2/app/guide/[[...slug]]/page.tsx
  apps/docs-v2/app/guide/layout.tsx
  apps/docs-v2/app/layout.client.tsx
  apps/docs-v2/app/layout.config.tsx
  apps/docs-v2/app/layout.shared.tsx
  apps/docs-v2/app/layout.tsx
  apps/docs-v2/app/og/[...slug]/route.tsx
  apps/docs-v2/app/page.tsx
  apps/docs-v2/content/docs/docs/commands/index.mdx
  apps/docs-v2/content/docs/docs/guides/index.mdx
  apps/docs-v2/content/docs/docs/meta.json
  apps/docs-v2/content/docs/meta.json
  apps/docs-v2/content/docs/openapi/meta.json
  apps/docs-v2/content/docs/time/index.mdx
  apps/docs-v2/content/docs/time/meta.json
  apps/docs-v2/content/docs/time/test.mdx
  apps/docs-v2/content/docs/work/index.mdx
  apps/docs-v2/content/docs/work/meta.json
  apps/docs-v2/lib/source.ts
  apps/docs-v2/package.json
  pnpm-lock.yaml
Labels: none

feat: script to group endpoints in meta.json
  apps/docs-v2/content/docs/openapi/meta.json
  apps/docs-v2/package.json
  apps/docs-v2/scripts/group-openapi-docs.mjs
  packages/skyhelper/src/api/controllers/update.controller.ts
  packages/skyhelper/src/api/swagger.config.ts
Labels: package:skyhelper

chore: desc
  apps/docs-v2/content/docs/openapi/index.mdx
Labels: none

chore: use correct url
  packages/skyhelper/src/api/swagger.config.ts
Labels: package:skyhelper

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: mm
  apps/docs/scripts/group-openapi-docs.mjs
Labels: package:docs

chore: some changes
  apps/docs/content/docs/openapi/meta.json
  apps/docs/scripts/group-openapi-docs.mjs
Labels: package:docs

chore: some monor fixes
  apps/docs/content/docs/docs/guides/index.mdx
  apps/docs/content/docs/docs/guides/user-install-app.mdx
  apps/docs/content/docs/docs/index.mdx
  apps/docs/content/docs/openapi/meta.json
Labels: package:docs

.github/labeler.yml:

package:utils:
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

package:skyhelper:
  - changed-files:
      - any-glob-to-any-file: packages/skyhelper/**

package:jobs:
  - changed-files:
      - any-glob-to-any-file: packages/jobs/**

package:docs:
  - changed-files:
      - any-glob-to-any-file: apps/docs/**

package:constants:
  - changed-files:
      - any-glob-to-any-file: packages/constants/**
